body{
    margin: 0;
    padding: 0;
    color: white;
}


.fond{
    padding: 50px;
    margin: 0;
    background-color: #343480;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selector{
    display: flex;
    flex-direction: column;
    font-size: 2em
;

}

input{margin-bottom: 40px}

:root{
    --spacing : 10px;
    --blur : 10px;
    --color : #ffc600;
}

h1{
    color: var(--color);
}
